@font-face {
  font-family: 'Open Sans';
  src: url('./assets/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Computer Modern';
  src: url('./assets/CMU-Serif-Italic.ttf');
}

:root {
  --text: #24202d;
  --bg: #f7f4e3;
  --bg-translucent: #f7f4e388;
  --header-font: 'Computer Modern', serif;
  --body-font: 'Open Sans', sans-serif;
  --blue: #4971dd;
  --yellow: #edbd53;
  --yellow-dim: #ffda8a;
  --red: #ed5040;
  --green: #2dba66;
  --gray: #a8b6c3;
  --debug: #864ef1;
}

html {
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--text);
  background-color: var(--bg);
}

/* Resets */
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

button {
  font-family: var(--body-font);
  font-size: 1em;
  cursor: pointer;
  color: var(--text);
  border: 1px solid var(--text);
  background-color: #e5e2d2;
  border-radius: 4px;
}

button:hover {
  background-color: #ddd9c0;
}

button:disabled {
  cursor: unset;
  background-color: #eae9e2;
  color: #69617c;
  border-color: #69617c;
}

/* Main layout */
header {
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav #icon {
  height: 32px;
}

footer {
  width: 100%;
  height: 45px;
  flex-shrink: 0;
  box-sizing: border-box;
}

footer nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;
}

#prose {
  overflow-y: auto;
}

#illustration {
  position: relative;
  display: flex;
  flex-direction: column;
}

#main-triangle-reset {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-translucent);
}

/* Typography */
h1,
h2 {
  font-family: var(--header-font);
}

h1 {
  margin: 0.5em 0;
  font-size: 2em;
}

h2 {
  margin: 0.7em 0;
  font-size: 1.6em;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}

code {
  font-family: var(--header-font);
  font-size: 1.2em;
}

/* Graphics */
#canvas {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

#controls {
  height: 60px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-triangle {
  fill: var(--red);
  stroke: var(--red);
  stroke-width: 3;
  stroke-linejoin: round;
}

.control-point {
  cursor: move;
  fill: var(--blue);
}

.dummy-control-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--blue);
}

.measurement-path {
  stroke-width: 2;
  stroke: var(--gray);
}

.measurement-label {
  font-family: var(--header-font);
  font-size: 1.7em;
  fill: var(--gray);
}

.main-square {
  stroke: var(--yellow);
  stroke-width: 3;
  fill: var(--yellow);
}

.main-square.dim {
  fill: var(--yellow-dim);
  stroke: var(--yellow-dim);
}

.main-square-label {
  font-family: var(--header-font);
  font-size: 2em;
  fill: var(--bg);
}

.main-square-label-exponent {
  font-size: 0.8em;
}

.aux-square {
  fill: none;
  stroke-width: 3;
  stroke: var(--blue);
}

.main-triangle-copy {
  fill: var(--green);
}

.debug-point {
  fill: var(--debug);
  pointer-events: none;
}

.debug-polygon {
  fill: var(--debug);
  fill-opacity: 0.2;
  pointer-events: none;
}

/* Adaptive styles */

/* Laptops */
@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: auto 512px 512px auto;
  }

  #prose {
    grid-column: 2 / 3;
  }

  #illustration {
    grid-column: 3 / 4;
  }

  header,
  footer {
    display: grid;
    grid-template-columns: auto 1024px auto;
  }

  header nav,
  footer nav {
    grid-column: 2 / 3;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  #prose {
    grid-row: 1 / 2;
    margin: 0 2em;
  }

  #illustration {
    grid-row: 2 / 3;
    margin: 0 2em;
  }

  header nav,
  footer nav {
    margin: 0 2em;
  }
}

/* Phones */
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  main {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  #prose {
    grid-row: 1 / 2;
  }

  #illustration {
    grid-row: 2 / 3;
  }

  header {
    height: 45px;
  }

  header nav #icon {
    height: 26px;
  }

  #prose,
  #illustration,
  header nav,
  footer nav {
    margin: 0 1em;
  }
}
