@font-face {
  font-family: 'Open Sans';
  src: url('./assets/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Computer Modern';
  src: url('./assets/CMU-Serif-Italic.ttf');
}

:root {
  --text: #24202d;
  --bg: #f7f4e3;
  --bg-translucent: #f7f4e388;
  --header-font: 'Computer Modern', serif;
  --body-font: 'Open Sans', sans-serif;
  --blue: #4971dd;
  --yellow: #edbd53;
  --yellow-dim: #ffda8a;
  --red: #ed5040;
  --green: #2dba66;
  --gray: #a8b6c3;
  --debug: #864ef1;
  --button: #e5e2d2;
  --button-hover: #ddd9c0;

  --text-dark: #e9e3cd;
  --bg-dark: #122340;
  --bg-dark-translucent: #12234088;
  --button-dark: #163c7c;
  --button-hover-dark: #174eaa;
}

html {
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--text);
  background-color: var(--bg);
}

/* Resets */
html,
body,
#root,
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

main.light {
  background-color: var(--bg);
  color: var(--text);
}

main.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

button {
  font-family: var(--body-font);
  font-size: 1em;
  cursor: pointer;
  color: var(--text);
  border: none;
  background-color: var(--button);
  border-radius: 3px;
  padding: 0.1em 0.4em;
}

button:hover {
  background-color: var(--button-hover);
}

main.dark button {
  background-color: var(--button-dark);
  color: var(--text-dark);
}

main.dark button:hover {
  background-color: var(--button-hover-dark);
}

/* Main layout */
header {
  width: 100%;
  height: 60px;
  flex-shrink: 0;
  box-sizing: border-box;
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav #icon {
  height: 32px;
}

header nav div {
  display: flex;
  align-items: center;
}

.theme-toggle {
  margin-right: 2em;
}

footer {
  width: 100%;
  height: 45px;
  flex-shrink: 0;
  box-sizing: border-box;
}

footer nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#content {
  width: 100%;
  flex: 1 1 100%;
  overflow: hidden;
}

#prose {
  overflow-y: auto;
  padding-right: 16px;
}

#illustration {
  position: relative;
  display: flex;
  flex-direction: column;
}

#main-triangle-reset {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-translucent);
}

main.dark #main-triangle-reset {
  background-color: var(--bg-dark-translucent);
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--text);
}

/* Typography */
h1,
h2,
h3 {
  font-family: var(--header-font);
}

h1 {
  margin: 0.5em 0;
  font-size: 2em;
}

h2 {
  margin: 0.7em 0;
  font-size: 1.6em;
}

h3 {
  margin: 0.5em 0;
  font-size: 1.3em;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}

code {
  font-family: var(--header-font);
  font-size: 1.2em;
  white-space: nowrap;
}

/* Graphics */
#canvas {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

#controls {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

#controls button {
  width: 45px;
  height: 45px;
  background: none;
  border: none;
  overflow: hidden;
  padding: 0;
}

#controls button img {
  width: 100%;
  height: auto;
  display: block;
}

.main-triangle {
  fill: var(--red);
  stroke: var(--red);
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.control-point {
  cursor: move;
  fill: var(--blue);
}

.dummy-control-point {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--blue);
  opacity: 0.7;
}

.measurement-path {
  stroke-width: 2;
  stroke: var(--gray);
  stroke-linejoin: round;
  stroke-linecap: round;
}

.measurement-label {
  font-family: var(--header-font);
  font-size: 1.7em;
  fill: var(--gray);
}

.main-square {
  stroke: var(--yellow);
  stroke-width: 3;
  fill: var(--yellow);
  stroke-linejoin: round;
  stroke-linecap: round;
}

.main-square.dim {
  fill: var(--yellow-dim);
  stroke: var(--yellow-dim);
}

.main-square-label {
  font-family: var(--header-font);
  font-size: 2em;
  fill: var(--bg);
}

main.dark .main-square-label {
  fill: var(--bg-dark);
}

.main-square-label-exponent {
  font-size: 0.8em;
}

.aux-square {
  fill: var(--blue);
  stroke-width: 3;
  stroke: var(--blue);
  stroke-linejoin: round;
  stroke-linecap: round;
}

.aux-square-label {
  font-family: var(--header-font);
  font-size: 2em;
  fill: var(--bg);
}

main.dark .aux-square-label {
  fill: var(--bg-dark);
}

.tri-label {
  font-family: var(--header-font);
  font-size: 1.5em;
  fill: var(--bg);
}

main.dark .tri-label {
  fill: var(--bg-dark);
}

.main-triangle-copy {
  fill: var(--green);
}

.angle-path {
  stroke-width: 3;
  stroke: var(--blue);
}

.angle-measure {
  fill: none;
  stroke: var(--red);
  stroke-width: 3;
  stroke-linecap: round;
}

.angle-measure.inside {
  stroke: var(--bg);
}

main.dark .angle-measure.inside {
  stroke: var(--bg-dark);
}

.debug-point {
  fill: var(--debug);
  pointer-events: none;
}

.debug-polygon {
  fill: var(--debug);
  fill-opacity: 0.2;
  pointer-events: none;
}

/* General-Purpose Components */
.slider-line {
  stroke: var(--blue);
}

.slider-button {
  cursor: move;
  fill: var(--blue);
}

/* Adaptive styles */

/* Laptops */
@media screen and (min-width: 1024px) {
  #content {
    display: grid;
    grid-template-columns: auto 512px 512px auto;
  }

  #prose {
    grid-column: 2 / 3;
  }

  #illustration {
    grid-column: 3 / 4;
  }

  header,
  footer {
    display: grid;
    grid-template-columns: auto 1024px auto;
  }

  header nav,
  footer nav {
    grid-column: 2 / 3;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #content {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  #prose {
    grid-row: 1 / 2;
    margin: 0 2em;
    padding-right: 0;
  }

  #illustration {
    grid-row: 2 / 3;
    margin: 0 2em;
  }

  header nav,
  footer nav {
    margin: 0 2em;
  }
}

/* Phones */
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  #content {
    display: grid;
    grid-template-rows: 2fr 1fr;
  }

  #illustration {
    grid-row: 1 / 2;
  }

  #prose {
    grid-row: 2 / 3;
    padding-right: 0;
  }

  header {
    height: 45px;
  }

  header nav #icon {
    height: 26px;
  }

  #prose,
  #illustration,
  header nav,
  footer nav {
    margin: 0 1em;
  }
}
